body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e4f1ff;
}
#heading {
  color: #545b77;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.box {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.controls {
  text-align: center;
}
.bar {
  height: 500px;
  width: 20px;
  margin-bottom: 20px;
}
#sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* adds space between the label and the slider */
  margin-bottom: 30px;
  font-size: 20px;
  color: #a4aac1;
}
#speed {
  color: #545b77;
  margin-left: 40px;
}
.lengthSlider {
  color: #545b77;
}
.dropdown {
  font-size: 20px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 40px;
}

.btn {
  font-size: 20px;
  background-color: #374259;
  color: #e4f1ff;
  border: none;
  font-style: normal;
  padding: 5px 15px 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 3px;
}
.btn:hover {
  background-color: black;
  color: white;
}
