* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #1a1e21;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav .controls {
  height: 100%;
  padding: 0 30px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav .controls:hover {
  background-color: #e5f0f3;
}
nav li:first-child {
  margin-right: auto;
}

body {
  background-color: #e5f0f3;
}
#heading {
  display: flex;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.grid-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #e5f0f3;
  flex-direction: column;
  /* gap: 2px; */
}

.row {
  display: flex;
  /* gap: 2px; */
}

.cell {
  width: 28px;
  height: 28px;
  border: 1.5px solid #99c3cf;
  box-sizing: border-box;
  background-color: #caf4ff;
}
